@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Rubik&family=Zen+Kurenaido&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --primary-color: #ffbc00;
  --secondary-color: #34495eab;
  --third-color: rgba(51, 51, 51, 0.637);
  --forth-color: rgba(232, 252, 118, 0.3);
  --fifth-color: #eceb86c4;
}
/* ************** */
/* NAVBAR */
/* ************** */

.nav-container {
  /* font-family: "Roboto", sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.text {
  text-transform: uppercase;
}

.logo {
  position: absolute;
  right: 5%;
  height: 90px;
  width: 220px;
}

.logo-open {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 220px;
}

.nav-open {
  background-color: var(--third-color);
  width: 100%;
  height: 160px;
  position: fixed;
  display: flex;
}

.none {
  display: none;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.nav-btn .fa-bars {
  color: #fff;
  font-size: 1.8rem;
  position: fixed;
  top: 26px;
  right: 30px;
}

.close-btn {
  position: absolute;
  left: 10%;
}

.fa-times {
  font-size: 1.8rem;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
  transform: translateX(0);
}

.nav-black {
  background-color: var(--third-color);
  width: 60%;
  max-width: 320px;
  min-width: 260px;
  transition-delay: 0.4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-red {
  background-color: var(--primary-color);
  width: 95%;
  transition-delay: 0.2s;
}

.nav-red.visible {
  transition-delay: 0.2s;
}

.nav-white {
  background-color: var(--forth-color);
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
  display: flex;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.close-btn {
  opacity: 0.3s;
  position: absolute;
  top: 40px;
  right: 30px;
}

.list {
  list-style-type: none;
  padding: 0;
  position: absolute;
  right: 15%;
  top: 20%;
  text-align: right;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: rgb(34, 31, 31);
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.list li a:hover {
  color: #f4f4f4;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}

/* ************** */
/*HERO SECTION */
/* ************** */
.hero-container {
  background: url("/img/background-2.jpg") center center/cover no-repeat fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  transition: all 0.2s ease;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(1px 5px 5px #222);
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(1px 5px 5px #222);
}

.hero-btn {
  margin-top: 32px;
}

.hero-btn .btn {
  color: #fff;
  margin: 6px;
  font-size: 1.4rem;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
  padding: 6px;
  border: 2px solid #f4f4f4;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.hero-btn .btn:first-child {
  background-color: #f4f4f4;
  color: #333;
}

.hero-btn .btn:first-child:hover {
  background-color: transparent;
  color: #fff;
}

.hero-btn .btn:last-child:hover {
  background-color: var(--primary-color);
  color: #333;
}

.fa-play-circle {
  margin-left: 4px;
}

/* ************** */
/* About Page */
/* ************** */
.about {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/img/background-4.jpg) no-repeat center center/cover fixed;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  font-size: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 65px 30px 65px;
}

.about-header {
  /* background-color: #333; */
  max-width: 700px;
  padding: 20px;
  margin-bottom: 50px;
}

.about-text {
  display: flex;
  flex: 1;
  padding: 20px;
  max-width: 960px;
}

.about-text-1,
.about-text-2 {
  padding: 0 30px 0;
}

/* ************** */
/* SLIDER GALLERY- SERVICES */
/* ************** */
.slider-container {
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(68, 68, 68, 0.801);
  border: 4px solid var(--primary-color);
  color: #fff;
  padding: 35px;
  border-radius: 10px;
}

.slide .content h1 {
  margin: 0 12px 12px 12px;
  text-align: right;
}

.slide .content p {
  text-align: center;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

#next {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
}

#prev {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  outline: none;
  border-radius: 50%;
  transition: all 0.3s;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

.slide:first-child {
  background: url("/img/background-1.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url("/img/background-12.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("/img/background-7.jpg") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("/img/background-9.jpg") no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url("/img/background-10.jpg") no-repeat center top/cover;
}

/* ************** */
/* TESTIMONIALS */
/* ************** */
#testimonials {
  background: url("/img/testimonials.jpg") no-repeat center center/cover;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

.testimonial-container {
  background-color: var(--third-color);
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.progress-bar {
  background-color: var(--primary-color);
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

/* ************** */
/* CONTACT */
/* ************** */
.contact-container {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.contact-container h1 {
  font-size: 3rem;
  padding: 45px 20px 5px 20px;
  border-bottom: 3px solid #333;
  margin-bottom: 30px;
  color: #333;
}

/* Form */

.form-control {
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  font-size: 1.4rem;
  border: 2px solid transparent;
  font-family: Verdana, Arial, sans-serif;
}

.form-control {
  display: flex;
}

.form-control::placeholder {
  color: #9da1a5;
  font-weight: bold;
  text-align: right;
}

.message {
  resize: vertical;
  min-height: 15rem;
}

.form-control:focus,
.message:focus {
  outline: none;
  border: 2px solid #fec810;
}

.contact-btn {
  background-color: #9da1a5;
  color: #fff;
  width: auto;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0 2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
}

.contact-btn a {
  color: #fff;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.contact-btn:active {
  box-shadow: 0px 0px 0px 4px rgba(254, 209, 54, 0.6);
}

/* ************** */
/* THANKS PAGE */
/* ************** */
.thanks-container {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
}

.thanks-container .thanks-btn {
  color: #333;
  margin: 30px;
  font-size: 1.4rem;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 20px;
  padding: 6px 12px;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.thanks-logo {
  width: 30rem;
  height: 10rem;
  margin-left: 20px;
}

.thanks-container .thanks-btn:hover {
  background-color: #333;
  color: #fff;
}

/* ************** */
/* FOOTER */
/* ************** */

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  background-color: #333;
  color: #f4f4f4;
}

.copyright,
.media {
  margin: 0;
  padding: 0.5rem;
}

.media ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.media ul li {
  padding: 1rem 0.6rem 0 0.6rem;
}

.media .fab {
  font-size: 3rem;
  color: #fff;
  transition: 0.3s ease;
}

.media .fab:hover {
  /* color: #999; */
  color: var(--primary-color);
}
